$m-length: 2s;

@import 'mickey';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 300 100%/1.6 Avenir, sans-serif;
  background: #e4e4e4;
}

h1 { font-weight: 300; letter-spacing: 2px; text-transform: uppercase; }

header {
  background: #d55353;
  color: white;
  padding: 1rem;
}
.animation--instance {
  margin: .5rem auto;
  width: 100%;
  padding: 1rem;
}
.block {
  width: 5rem;
  height: 5rem;
  background: #e1b507;
  border-radius: 100%;
  border: 1rem solid #da9f15;
}
